[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = '*'
numpy = '*'
bnlp = '*'
kaggle = '*'

# For Linux machine, use the regular distribution of tensorflow
tensorflow = '*'

# For Window machine with GPU support (CUDA), uncomment the following
#tensorflow = { version = "<2.11" }

[dev-packages]

[requires]
python_version = "3.10"
